.header-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-items: center;
    background-color: rgb(75 85 99);
    

}

.header-container h1 {
    font-weight: bold;
    color: white;

}

.header-container nav {
    color: white;
    font-size: 24px;
}

.header-container nav ul {
    font-weight: bold;
    display: flex;
    gap: 16px;
    list-style-type: none;

}

.header-container nav ul li:hover {
    color: rgb(56 189 248);
}

.grid-container {
    display: grid;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    gap: 16px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 100%;

}

.image-container {
    padding: 16px;
    background-color: rgb(251 113 133);
    height: fit-content;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

}

.image-container img {
    width: 100%;
}

.image-container video {
    width: 100%;
    height: 100%;
}


.main-content {
    display: flex;
}

.side-bar {
    display: flex;
    flex-direction: column;
    width: 20rem;
    background-color: rgb(156 163 175);
    padding: 16px;
    gap: 16px;
    min-height: 100vh;
}

.side-bar div {
    padding: 16px;
    margin-top: 1rem;
}

.side-bar h2 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.side-bar ul {
    list-style-type: disc;
}

.side-bar ul li {
    text-decoration: underline;
}