.header-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-items: center;
    background-color: rgb(75 85 99);
    

}

.header-container h1 {
    font-weight: bold;
    color: white;

}

.header-container nav {
    color: white;
    font-size: 24px;
}

.header-container nav ul {
    font-weight: bold;
    display: flex;
    gap: 16px;
    list-style-type: none;

}

.header-container nav ul li:hover {
    color: rgb(56 189 248);
}

.grid-container {
    display: grid;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    gap: 16px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 100%;

}
